.forgot-password{
    text-align: center;
    width: 90vw;
    max-width: 800px;
    justify-self: center;
    margin-top: 20vh;
}
.password-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.forgot-password form > input{
    font-family: 'Playfair Display';
    justify-self: center;
    display: block;
    width: 90vw;
    max-width: 800px;
    margin-bottom: 5px;
    margin-top: 15px;
    height: 40px;
    text-align: start;
    text-indent: 25px;
    align-items: center;
    border: #FFFFFF solid 1px;
    border-radius: 10px;
    background-color: #ffffff01;
    color: #FFFFFFBF;
    font-size: 1em;
    transition: background-color 0.2s;
}
.forgot-password form > input:hover{
    background-color: #ffffff0d;
}
.forgot-password form > input:focus{
    background-color: #ffffff0d;
    border: #FFFFFF solid 1px;
}
.forgot-password form > input::placeholder{
    color: #FFFFFF80;
}
.forgot-password form > .submit{
    display: block;
    justify-self: center;
    width: 50%;
    margin: 50px 0;
    height: 40px;
    text-align: center;
    align-items: center;
    border: rgb(0, 140, 255, 0.75) solid 1px;
    border-radius: 10px;
    background-color: rgb(0, 140, 255, 0.05);
    color: #FFFFFFBF;
    cursor: pointer;
    font-family: 'Playfair Display';
    font-size: 1.25em;
    transition: 0.2s;
}
.forgot-password form > .submit:hover{
    background-color: rgb(0, 140, 255, 0.1);
    color: #FFFFFF;
}
.reset-password{
    margin-top: 20vh;
    justify-self: center;
    text-align: center;
    width: 90vw;
    max-width: 800px;
}
.reset-password form > input{
    font-family: 'Playfair Display';
    justify-self: center;
    display: block;
    width: 90vw;
    max-width: 800px;
    margin-bottom: 5px;
    margin-top: 15px;
    height: 40px;
    text-align: start;
    text-indent: 25px;
    align-items: center;
    border: #FFFFFF solid 1px;
    border-radius: 10px;
    background-color: #ffffff01;
    color: #FFFFFFBF;
    font-size: 1em;
    transition: background-color 0.2s;
}
.reset-password form > input:hover{
    background-color: #ffffff0d;
}
.reset-password form > input:focus{
    background-color: #ffffff0d;
    border: #FFFFFF solid 1px;
}
.reset-password form > input::placeholder{
    color: #FFFFFF80;
}
.reset-password form > .submit{
    display: block;
    justify-self: center;
    width: 50%;
    margin: 50px 0;
    height: 40px;
    text-align: center;
    align-items: center;
    border: rgb(0, 140, 255, 0.75) solid 1px;
    border-radius: 10px;
    background-color: rgb(0, 140, 255, 0.05);
    color: #FFFFFFBF;
    cursor: pointer;
    font-family: 'Playfair Display';
    font-size: 1.25em;
    transition: 0.2s;
}
.reset-password form > .submit:hover{
    background-color: rgb(0, 140, 255, 0.1);
    color: #FFFFFF;
}
.toggle-password{
    display: block;
    text-align: start;
    font-family: 'Playfair Display';
    font-size: 0.9em;
    border: none;
    background: none;
    color: #ef7f00bf;
    color: rgb(0, 140, 255, 0.75);
    cursor: pointer;
    margin-left: 25px;
    transition: 0.2s;
}
.toggle-password:hover{
    color: #FFFFFF;
    text-decoration: underline;
}